@font-face {
  font-family: 'FuturaBook';
  src: 
  local('fonts/futura/FuturaBookC.woff') format('woff'),
  local('fonts/futura/FuturaBookC.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
  }
@font-face {
  font-family: 'FuturaDemi';
  src: 
  local('fonts/futura/FuturaDemiC.woff') format('woff'),
  local('fonts/futura/FuturaDemiC.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
  }