@media screen and ( max-width: 1280px )
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem
@media screen and ( max-width: 992px )
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
    &__button
      &:hover
        transform: none
        cursor: auto
        box-shadow: 0px 5px 15px rgba($primary, 0.2)
    &__scroll-down
      &:hover
        color: $light
        cursor: auto
  .contacts
    &__phone          
      &:hover
        box-shadow: none
        color: $primary
        text-decoration: underline
        cursor: auto
    &__button
      &:hover
        box-shadow: none
        background-color: $primary
        cursor: auto
  .button
    &__primary
      box-shadow: 0px 5px 15px rgba($primary, 0.2)
@media screen and ( max-width: 576px )
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .title
    font-size: 1.64rem
    font-weight: normal
  .hero
    &__scroll-down
      display: none
    &__content      
      max-width: 22.86rem
    &__text
      font-size: 1.29rem
      margin-bottom: 2.28rem
    &__button
      display: block
      min-width: 22.8rem
      margin-bottom: 1.85rem
@media screen and ( max-height: 530px )
  .hero
    &__scroll-down
      display: none

  