@media screen and ( max-width: 1364px )
  .clients
    &__text
      padding-left: 25px
      padding-right: 25px
      max-width: 21rem
// @media screen and ( max-width: 1274px )
//   .clients
//     &__text
//       max-width: 19rem

@media screen and ( max-width: 1256px )
  .swiper
    &-slide      
      &__text        
        &:nth-child(odd)         
          margin-right: -2rem

@media screen and ( max-width: 1200px )
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem
  .hero
    &__text
      max-width: 450px      
  .control__policy > div:nth-child(2)  
    top: 40px
    left: 20rem 
  .footer__policy > div:nth-child(2)    
    top: 40px
    left: 11.25rem
  .clients
    &__text
      font-size: 1rem
      max-width: 25rem
      padding-left: 15px
      padding-right: 25px           
    &__linear, &__time
      font-size: 1rem
    &__title
      font-size: 1rem
      padding-right: 10px
  .col-32
    flex-basis: 30%

@media screen and ( max-width: 1090px )
  .clients
    &__text      
      max-width: 21rem 
      padding-left: 21px
      padding-right: 35px
  

@media screen and ( min-width: 992px )
  .hero 
    &__button
      transition: 0.5s
      &:hover
        background-color: transparent
    &__scroll-down
      transition: color 0.5s
      &:hover
        color: $primary
  .instagram
    &__link
      transition: color 0.5s
      &:hover
        color: $light
        &::after        
          background-color: $light
  .button
    &:hover
      cursor: pointer
    &--primary
      transition: 0.5s
      &:hover
        box-shadow: none
    &--outline
      &:hover        
        background-color: $primary
  .nav
    &__item
      transition: color 0.2s   
      &:hover
        color: $primary
  .contacts
    &__phone          
      &:hover         
        color: $light
        text-decoration: none
    &__button
      &:hover
        box-shadow: inset 0 0 0 2px $primary
        background-color: transparent
  .logo
    &:hover
      text-decoration: none
      color: $light
  
    

@media screen and ( max-width: 992px )
  .col-33
    max-width: 100%
    margin: auto
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin: 0 auto
  .row
    flex-direction: column
    align-items: center
  .types, .design
    &__card
      margin-bottom: 5rem
  .design    
    background-image: linear-gradient(to bottom, $dark 50%, $dark 50%)  
    &__section-title
      color: $light
  .section   
    &-description      
      color: $light    
  .section_dark
    background-color: $dark
    background-image: none
    
  .swiper
    &-slide      
      &__text  
        flex-basis: 25%      
        margin-bottom: 2.5rem     
        &:nth-child(odd)         
          margin-right: -9px 
        &:nth-child(n+3)
          margin-bottom: 4.5rem        
          
  .col
    &-45
      width: 100%
      margin-bottom: 2.8rem
      padding-left: 0
    &-55
      width: 100%
  
  .control
    background-color: $dark
    color: $light
    &__form
      display: flex
      flex-direction: column
    &__input
      color: $light
      &-group       
        margin-bottom: 5.25rem
        &:nth-child(2)                   
          margin-bottom: 2rem
      &::placeholder
        color: $light
    &__button
      order: 5
    &__policy
      margin-top: -1.5rem
      margin-bottom: 5rem
      &-label
        justify-content: start
  .control__input.invalid
    color: $light
  #btn-up
    background: url('../img/btn-up-arrow-small.svg') no-repeat center
    background-color: $primary
    width: 25px
    height: 25px
    border-radius: 50%
    bottom: 10px
    right: 5px
      
  .button
    border-radius: 0

  .control__policy > div:nth-child(2)  
    top: 40px
    left: 0 
  

  .team
    background-image: none
    background-color: $dark
    margin-bottom: 0
    &__section
      &-title
        color: $light
      &-description
        max-width: 31rem
    &__about
      display: none
    &__content
      padding-top: 35px
      padding-left: 35px
      margin-bottom: 4.45rem    
    
    
  .clients
    display: none

  .footer
    &__map
      width: 100%
    &__wrap
      margin-top: 0
      background: $dark

  .ymaps-2-1-76-map
    width: 100%
  .ymap-container
    width: 100%
    max-width: 100%    
@media screen and ( max-width: 768px )
  .hero
    &__content
      width: 90%
      margin: auto  
    &__text
      max-width: 37rem
  
  .types, .design
    &__card
      margin-bottom: 6.5rem
  .card
    &__text      
      margin-top: -10rem
  .section
    &-title
      font-size: 1.222rem
    &-description
      max-width: 45rem
  .swiper
    &-slide      
      &__text  
        flex-basis: 50% 
  .footer
    &__section-title
      font-size: 1rem
      line-height: 2.09rem
  .team
    &__section
      &-description
        max-width: 31rem
  
    
@media screen and ( max-width: 576px )
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none      
    &__button      
      display: none
  
  .hero
    &::after
      display: none
    &__title
      font-size: 2.31rem    
      
    &__scroll-down
      display: none
      &::after
        display: none
    &__content      
      max-width: 95%
    &__text
      max-width: 330px
      font-size: 1.4rem
      margin-bottom: 2.28rem
    &__button
      display: block
      min-width: 100%
      margin-right: 0
      margin-bottom: 1.85rem
  .control
    &__text
      font-size: 1.167rem
      line-height: 169.8%
      max-width: 28.333rem
    &__video
      min-height: 17rem
  
      
  .footer
    &__form
      display: flex
      flex-direction: column
    &__section-title      
      max-width: 26rem
      margin: auto
  .video__play
    width: 5.2rem
  .footer__map
    height: 21.25rem
  .footer__policy > div:nth-child(2)    
    top: 35px
    left: 0
  .policy__label--center
    justify-content: start
    
  .image-shadow::before
    display: none
 

@media screen and ( max-height: 590px )
  .hero
    &__scroll-down
      display: none

@media screen and ( max-height: 465px )
  .modal
    &__dialog
      max-width: 570px
      height: 310px
    &__form
      flex-direction: row
      flex-wrap: wrap
      justify-content: space-between
    &__input
      &-group
        &:first-child
          width: 45%
        &:nth-child(2)
          width: 45%
        &:nth-child(3)          
          width: 100%
          margin-bottom: 6px
    &__policy
      margin-bottom: 3.585rem
  .thanks
    &__block
      max-width: 570px
      height: 310px      
@media screen and ( max-width: 375px )
  .hero    
    &__title      
      font-size: 1.916rem
      margin-bottom: 1.1rem
    &__content            
      min-width: 100%
    &__text      
      font-size: 1.5rem
      max-width: 26.4rem
      line-height: 135%
      margin-bottom: 2.8rem
    &__button      
      min-width: 99.5%
      margin-bottom: 2.2rem   
  .card
    &__title
      font-size: 1.25rem
    &__text
      max-width: 22.6rem
      padding: 1.79rem 2.64rem
      margin-top: -12rem
      margin-left: 0                    
    &__list      
      // max-height: 12.6rem
      margin-bottom: 1.6rem
      line-height: 1.85rem
    &__pricetag
      font-size: 1.25rem
      min-width: 15.87rem
      min-height: 3.33rem
      text-align: center
      padding: 1rem 0
      bottom: -1.6rem   
        
  .design    
    &__pricetag
      text-align: left
      padding: 1rem 3.8rem
  .section   
    &-description
      font-size: 1.25rem
      line-height: 135%
      max-width: 25rem
      color: $light
    &-title
      &__text
        font-size: 1.167rem
        line-height: 158%
        max-width: 25.416rem
        margin-bottom: 3rem
      &__heading
        &--primary
          line-height: 138%
          margin-bottom: 2rem
          font-size: 1.84rem
          letter-spacing: -1.5px
      &__word
        &::after
          display: none
  .swiper
    &-slide
      &__heading
        font-size: 1.167rem
        line-height: 138%
        margin-bottom: 0.8rem
      &__value
        font-size: 1.167rem
        line-height: 135%
  div.swiper-container:nth-child(1), .col-55
    max-height: 16.8333rem
  .types
    padding: 5px 0
    &__section-title
      margin-bottom: 3.3rem 
  .design
    &__section-title      
      margin-bottom: 1.4rem
  .control
    margin-bottom: 0
    &__video
      min-height: 17rem
      margin-bottom: 2.35rem
    &__section-title
      margin-bottom: 3.5rem
      margin-top: -30.2rem
    &__text      
      margin-bottom: 2.4rem
      &::before
        margin-bottom: 1.3rem
    &__label
      font-size: 1.25rem
    &__input
      font-size: 1.5rem
      padding: 0.7rem 0 0.55rem
      border-bottom: 1px solid rgba(255, 255, 255, 0.9)
      &-group
        margin-bottom: 5.05rem
      &-group:nth-child(2)
        margin-bottom: 2.4rem
    &__policy
      margin-bottom: 5.2rem
      &-label
        font-size: 1.33rem
    &__button
      padding: 1.3rem 4.6rem
  .footer
    padding-bottom: 2rem
    &__title
      font-size: 1.67rem
      margin-bottom: 4.5rem
    &__input
      font-size: 1.5rem
      &-group
        margin-bottom: 5.4rem
        &--full-width
          margin-bottom: 1.7rem
    &__container
      display: flex
      flex-direction: column
      margin-top: -4rem
    &__wrap
      padding: 0
      margin: 0
    &__form
      display: flex
      flex-direction: column
    &__button
      border-radius: 0
      width: 100%
      margin: 0 
      margin-bottom: 4rem
      font-size: 1.25rem
      padding: 1.35rem 4rem
    &__policy
      display: flex
      justify-content: start
      margin-bottom: 5.6rem
      &__label
        margin-left: -1rem
        font-size: 1.35rem
    &__section
      &-image
        margin-bottom: 0
      &-title
        order: 5
        max-width: 26rem
        margin: auto
      &__heading
        margin-bottom: 1.8rem
    &__menu
      display: none
    &__map
      margin: 0
    &__image
      &--position
        width: 39px
        height: 39px
        margin-left: 9px
  .footer__policy > div:nth-child(2)    
    top: 20px
    left: 0
  
  
  .team
    background-image: none
    background-color: $dark
    margin-bottom: 0
    &__row  
      align-items: end
    &__card
      max-width: 100%
      
    &__section
      &-title
        color: $light
      &-heading
        margin: 0
        margin-bottom: 1.15rem
      &-image
        margin-bottom: 1.6rem
      &-description
        max-width: 27rem
        margin-bottom: 6.8rem
    &__about
      display: none
    &__image
      &--deck
        display: none
      &--mob
        display: block
      &-wrap
        justify-content: end
        
    &__description
      margin-top: -6.6rem
      margin-right: 3.3rem
      max-width: 19.416rem
    &__name
      font-size: 1.5rem
      line-height: 1.389rem   
      padding-top: 2rem
      margin-bottom: 0.9rem 
    &__profession    
      font-size: 1.5rem
      line-height: 1.444rem
      margin-bottom: 2rem        
    &__exp
      font-size: 1.084rem
      line-height: 1.667rem
      padding-top: 0.9rem
      padding-bottom: 1.1rem
  .section-title
    // &__heading
    //   margin-bottom: 1.65rem
    &__word
      margin-bottom: 2rem
  .container
    width: 91%
  .ymap-container
    margin-bottom: 2rem
 
      

  
