*, *:before, *:after
  box-sizing: border-box
html 
  font-size: 14px
body
  font-family: 'Futura Book', sans-serif
  font-weight: normal
  font-size: 1rem
img
  max-width: 100%
p 
  margin: 0
.section
  padding: 50px 0
  &-title
    text-align: center
    text-transform: uppercase
    font-family: 'Yeseva One', cursive
    font-size: 0.952rem
    &__heading  
      font-weight: normal    
    &__image 
      display: flex
      align-items: center
      justify-content: center      
      &::before, &::after
        content: ''        
        width: 32px
        height: 2px
        background-color: $primary
        margin: 0 10px
  &-description    
    font-family: 'Futura Book', sans-serif    
    font-weight: normal
    text-transform: none
    font-size: 20px
    line-height: 27px
    color: #363636
    text-align: center
    max-width: 52rem
    margin: 0 auto
    margin-bottom: 3.1rem

    
.button
  font-family: 'Futura Demi', sans-serif
        