.team
  background-image: linear-gradient(to top, $light 50%, $dark 50%) 
  margin-bottom: 0.8rem 
  &__row
    max-width: 1110px
    margin: auto 
  &__section
    &-heading
      color: $light
    &-description
      max-width: 31rem 
      margin-bottom: 5.8rem
      color: $light
    &-image
      margin-bottom: 1.25rem 
  &__card  
    margin: auto    
    margin-bottom: 4.5rem
    position: relative 
    max-width: 273px
    min-height: 357px
  &__description    
    position: relative
    display: flex
    flex-direction: column
    background-color: $light
    margin: auto
    max-width: 16.642rem
    margin-top: -5.785rem
  &__name
    font-family: 'Yeseva One', cursive    
    font-weight: normal
    font-size: 1.285rem
    line-height: 1.785rem
    text-align: center
    padding-top: 1.428rem
  &__profession
    font-family: 'Futura Book', sans-serif   
    font-weight: normal
    font-size: 1.285rem
    line-height: 1.857rem
    text-align: center
    color: $secondary
    margin-bottom: 1.571rem
  &__exp
    font-family: 'Yeseva One', cursive    
    font-weight: normal
    font-size: 0.928rem
    line-height: 1.428rem
    text-align: center
    text-transform: uppercase
    background-color: $primary
    color: $light
    padding-top: 0.785rem
    padding-bottom: 0.928rem
  
  &__logo
    display: flex
    justify-content: center
    position: absolute
    left: -35px
    top: -35px
    content: ''
    width: 70px
    height: 70px
    // background: url('../img/team/idea.svg') no-repeat center
    background-color: $primary
    box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.5)

  &__image                  
    &--mob
      display: none
    &-wrap
      display: flex
      justify-content: center
      align-items: center
      // position: relative
      // &--first
      //   &::before
      // &--second
      //   &::before
      //     position: absolute
      //     left: 29px
      //     top: -35px
      //     content: ''
      //     width: 70px
      //     height: 70px
      //     background: url('../img/team/pen.svg') no-repeat center
      //     background-color: $primary
      //     box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.5)
      // &--third
      //   &::before
      //     position: absolute
      //     left: 29px
      //     top: -35px
      //     content: ''
      //     width: 70px
      //     height: 70px
      //     background: url('../img/team/portfolio.svg') no-repeat center
      //     background-color: $primary
      //     box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.5)
    
  &__about    
    max-width: 40.571rem
    font-family: 'Futura Book', sans-serif
    font-weight: normal
    font-size: 1.428rem
    line-height: 2.428rem
    text-align: center
    margin: auto
    position: relative
    &::before
      content: ''
      position: absolute
      top: -10px
      left: 256px      
      width: 55px
      height: 2px
      background-color: $primary
      
 

  