.team
  background: $light url('../img/clients/clients__bg.jpg') no-repeat center / cover
  padding-bottom: 27.1rem
  &__card    
    margin-bottom: 100px
    // position: relative
  &__description
    // position: absolute
    display: flex
    flex-direction: column
    background-color: red
    // margin: auto
  &__name
    font-family: 'Yeseva One', cursive    
    font-weight: normal
    font-size: 18px
    line-height: 25px
    text-align: center
  &__profession
    font-family: 'Futura Book', sans-serif   
    font-weight: normal
    font-size: 18px
    line-height: 26px
    text-align: center
    color: $secondary
  &__exp
    font-family: 'Yeseva One', cursive    
    font-weight: normal
    font-size: 13px
    line-height: 20px
    text-align: center
    text-transform: uppercase
    background-color: $primary
    color: $light

  &__image
    &-wrap
      display: flex
      justify-content: center
      align-items: center
    
  &__about    
    max-width: 568px
    font-family: 'Futura Book', sans-serif
    font-weight: normal
    font-size: 20px
    line-height: 34px
    text-align: center
    margin: auto
 
      